{block content}
<h1>{_'paf.cases.detailTitle', ['name' => $case->specification->characterName]}</h1>

<div class="row">
    <div class="col-md-8" id="notes">
        {control comments:input, noLabels => true}

        {control feed}
    </div>
    <div class="col-md-4" id="detail">
        <div class="well">
            {control caseForm}
            <hr/>
            {control stateControl}
        </div>
    </div>
</div>

