{block content}
    <div class="card">
        <div class="card-header">
            {control option-commission-quotes-enable:pair}
        </div>
    </div>

    <div class="card">
        <div class="card-header">{_'commission.cases.label'}</div>
        <div class="card-body">
            {control cases}
        </div>
    </div>
{/block}
