<span class="quotes-enabled">
    <span class="status-label">{_'paf.quotes.' . ($quotesEnabled ? 'enabled' : 'disabled')}.</span>
    <a n:href="$quotesEnabled?disable:enable">{_'paf.quotes.' . ($quotesEnabled ? 'disable' : 'enable')}</a>?
</span>
