.idea

log/*
temp/*
/vendor/
www/node_modules/

!.gitignore
!.htaccess
!web.config
app/config/config.*.neon
!app/config/config.sample.neon
app/config/users.neon

www/ref/
www/images/quotes/*
www/node_modules/

