.idea
.phpunit.result.cache

log/*
temp/*
/vendor/
/node_modules/

!.gitignore
!*/.gitkeep
!.htaccess
!web.config
app/config/config.*.neon
!app/config/config.sample.neon
!app/config/config.travis.neon
app/config/users.neon

www/ref/
www/dist/
www/vendor/
www/images/quote/*
www/images/pafOffer/*

test-out/
