.idea

log/*
temp/*
/vendor/
www/node_modules/

!.gitignore
!*/.gitkeep
!.htaccess
!web.config
app/config/config.*.neon
!app/config/config.sample.neon
!app/config/config.travis.neon
app/config/users.neon

www/ref/
www/images/quotes/*

