{varType \PAF\Modules\CommissionModule\Model\Commission $commission}

<div>
    <span>{$commission->status|entityProperty:'pafCommissions.commission':'status'}</span>
    {if $commission->archivedOn}
        {capture $archived}{$commission->archivedOn|entityProperty:'pafCommissions.commission':'archivedOn'}{/capture}
        <span n:if="$commission->archivedOn">{_'commission.commission.archivedOn', ['archivedOn' => $archived]}</span>
    {/if}
</div>
