.footer {
  position: fixed;
  bottom: 0;

  margin: 0 8px 0;
  padding: 8px 0 2px;

  /* Set the fixed height of the footer here */
  background-color: rgba(240, 240, 240, 0.8);

  border: 1px #222 solid;
  border-bottom-width: 0;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  list-style: none;
  display: inline-block;
}
.footer ul li::after {
  content: ' ';
  display: inline-block;
  width: 6px;
}
.footer ul li:last-child::after {
  content: none;
}
