$list-margin: 4px;

.footer {
  position: fixed;
  bottom: 0;

  margin: 0 8px;
  padding: 8px 0;

  /* Set the fixed height of the footer here */
  background-color: rgba(240, 240, 240, 0.8);

  border: 1px #222 solid;
  border-bottom-width: 0;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;

  ul {
    padding: 0;
    margin-block-end: 0;
    text-align: center;

    li {
      display: inline-block;
    }

    li:not(:first-child)::before {
      content: '○';
      color: #AAAAAA88;
      margin-inline-start: $list-margin;
      margin-inline-end: $list-margin;
    }

  }
}
