@import "common.vars";

body {
  font-size: 15px;
  line-height: 1.6;
}

#body-container {
  min-height: calc(100vh - #{$header-height + $footer-height + $footer-padding-top});

  margin-top: $header-height;
  margin-bottom: $footer-height + $footer-padding-top;

  padding: 8px 0;

  display: flex;
  flex-direction: column;
}
