{block content}
    <div class="panel panel-default">
        <div class="panel-heading">Quotes</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 col-lg-4" n:foreach="$quotes as $quote">
                    {control quote-{$quote->getSlug()}:overview}
                </div>
            </div>
        </div>
    </div>
{/block}
