{block content}
    <div class="panel panel-default">
        <div class="panel-heading">
            {control quotes:enableSwitch, [colClass => '']}
        </div>
        <div class="panel-body">
            {control quotes:tiles}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">{_'paf.cases.label'}</div>
        <div class="panel-body">
            {control cases:list}
        </div>
    </div>
{/block}
