#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    powerUsers: []
    defaultSettings: []
    database:
        driver: mysqli
        host: localhost
        user:
        password:

php:
	date.timezone: Europe/Prague


application:
	catchExceptions: %productionMode%
	errorPresenter: Front:Error
	mapping:
		*: PAF\Modules\*Module\Presenters\*Presenter


session:
	expiration: 14 days



extensions:
    entityIds: SeStep\EntityIds\DI\EntityIdsExtension
    auditTrail: PAF\Common\AuditTrail\AuditTrailExtension
    appForms: PAF\Common\Forms\FormsExtension
    repository: PAF\Common\Lean\DI\RepositoryExtension
    leanMapper: PAF\Common\Lean\DI\LeanMapperExtension
    moment: SeStep\Moment\MomentProviderExtension
    appLogging: PAF\Common\Logging\LoggingExtension
    leanSettings: SeStep\LeanSettings\DI\LeanSettingsExtensions
    translation: Contributte\Translation\DI\TranslationExtension
    leanFixtures: SeStep\LeanFixtures\Bridges\DI\LeanFixturesExtension
    monolog: Contributte\Monolog\DI\MonologExtension
    typeful: SeStep\Typeful\TypefulExtension

    commonEvents: PAF\Common\Events\EventsExtension

    pafFeed: PAF\Common\Feed\FeedExtension
    pafDirectory: PAF\Modules\DirectoryModule\DirectoryModuleExtension
    pafCommissions: PAF\Modules\CommissionModule\CommissionModuleExtension


commonEvents:
    subscribers:
        - PAF\Common\Workflow\EntityWorkflowListener()

typeful:
    filters:
        displayEntityProperty: 'entityProperty'
        displayPropertyName: 'entityPropertyName'

monolog:
    channel:
        default:
            handlers:
                fileHandler:
                    type: Monolog\Handler\RotatingFileHandler
                    arguments:
                        - %rootDir%/log/app.log
                        - 5
                    setup:
                        - setFilenameFormat('{filename}-{date}', 'Y-m')

translation:
    locales:
        default: 'en'

    dirs:
        - %appDir%/Common/lang
        - %appDir%/Modules/CommissionModule/lang

#translation:
#    default: en_GB
#    fallback: [en_GB]
#    dirs:
#        - '%appDir%/Common/lang'
#        - '%appDir%/Modules/Front/lang'
#        - '%appDir%/Modules/Admin/lang'

includes:
    - include/services.neon
    - include/routing.neon
    - include/console.neon
    - include/formsMessages.neon
    - include/entityIds.neon
    - include/lean.neon
    - include/auditTrail.neon
