#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    appName: 'Pretty Acceptable Fursuits'

php:
	date.timezone: Europe/Prague


application:
	catchExceptions: %productionMode%
	errorPresenter: Front:Error
	mapping:
		*: App\Modules\*\Presenters\*Presenter


session:
	expiration: 14 days



extensions:
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    console: Kdyby\Console\DI\ConsoleExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    events: Kdyby\Events\DI\EventsExtension
    migrations: SeStep\Migrations\DI\MigrationsExtension
    translation: Kdyby\Translation\DI\TranslationExtension

doctrine:
    metadata:
        App: %appDir%
        SeStep\Settings: %appDir%/../vendor/sestep/settings-doctrine/src
        SeStep\Commentable: %appDir%/../extensions/SeStep/Commentable/src
        SeStep\FileAttachable: %appDir%/../extensions/SeStep/FileAttachable/src

translation:
    default: en_GB
    fallback: [en_GB]
    dirs: ['%appDir%/Common/lang', '%appDir%/Modules/Front/lang']

includes:
    - services.neon
    - latte.neon
    - migrations.neon
