#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
    appName: 'Pretty Acceptable Fursuits'
    powerUsers: []
    database:
        driver: mysqli
        host: localhost
        user:
        password:

php:
	date.timezone: Europe/Prague


application:
	catchExceptions: %productionMode%
	errorPresenter: Front:Error
	mapping:
		*: PAF\Modules\*Module\Presenters\*Presenter


session:
	expiration: 14 days



extensions:
    entityIds: SeStep\EntityIds\DI\EntityIdsExtension
    auditTrail: PAF\Modules\AuditTrailModule\DI\AuditTrailExtension
    appRouting: PAF\Common\Router\RoutingExtension
    appForms: PAF\Common\Forms\FormsExtension
    repository: PAF\Common\Lean\DI\RepositoryExtension
    leanMapper: PAF\Common\Lean\DI\LeanMapperExtension
    moment: PAF\Utils\Moment\MomentProviderExtension
    appLogging: PAF\Common\Logging\LoggingExtension
    leanSettings: SeStep\LeanSettings\DI\LeanSettingsExtensions
    translation: Contributte\Translation\DI\TranslationExtension
    leanFixtures: SeStep\LeanFixtures\Bridges\DI\LeanFixturesExtension
    navigationMenu: SeStep\NavigationMenuComponent\DI\NavigationMenuComponentExtension
    monolog: Contributte\Monolog\DI\MonologExtension

    commonEvents: PAF\Common\Events\EventsExtension

    pafFeed: PAF\Modules\FeedModule\FeedModuleExtension
    pafCommissions: PAF\Modules\CommissionModule\CommissionModuleExtension

navigationMenu:
    brandTitle: %appName%
    brandTarget: :Common:Homepage:default
    itemsFile: %appDir%/config/include/navigation.neon

commonEvents:
    subscribers:
        - PAF\Common\Workflow\EntityWorkflowListener()


appRouting:
    modules:
        Cms: PAF\Modules\CmsModule\Routing\CmsRouterModule()
        Commission: PAF\Modules\CommissionModule\Routing\CommissionRouterModule()
        Settings: PAF\Modules\SettingsModule\Routing\SettingsRouterModule()

monolog:
    channel:
        default:
            handlers:
                fileHandler:
                    type: Monolog\Handler\RotatingFileHandler
                    arguments:
                        - %rootDir%/log/app.log
                        - 5
                    setup:
                        - setFilenameFormat('{filename}-{date}', 'Y-m')

translation:
    locales:
        default: 'en'

    dirs:
        - %appDir%/Common/lang
        - %appDir%/Modules/CommissionModule/lang

#translation:
#    default: en_GB
#    fallback: [en_GB]
#    dirs:
#        - '%appDir%/Common/lang'
#        - '%appDir%/Modules/Front/lang'
#        - '%appDir%/Modules/Admin/lang'

includes:
    - include/services.neon
    - include/console.neon
    - include/formsMessages.neon
    - include/entityIds.neon
    - include/lean.neon
    - include/auditTrail.neon
