offers:
    partial:
        name: 'priceList.product.partial'
        type: 'product'
        price: 420.69
        features:
            - fursuitHead
            - fursuitPaws
            - fursuitTail
            - fursuitOutdoorFeet

    piercings:
        name: 'priceList.extras.piercings'
        type: 'extras'
        price: 10.99

    antlers:
        name: 'priceList.extras.antlers'
        type: 'extras'
        price: 37

    complexMarkings:
        name: 'priceList.extras.complexMarkings'
        type: 'extras'
        price: 20

    ownShoes:
        name: 'priceList.extras.ownShoes'
        type: 'extras'
        price: -2

    partialRepair:
        name: 'priceList.service.partialRepai'
        type: 'service'
        price: 'priceList.service.repairDescription'


features:
    - 'fursuitHead'
    - 'fursuitPaws'
    - 'fursuitTail'
    - 'fursuitOutdoorFeet'
