services:
    routerFactory:
        class: PAF\Common\Router\RouterFactory
        arguments:
            modules:
                - Cms
                - Commission
                - Common
                - Portfolio
                - Quote
                - Settings
    router: @routerFactory::createRouter()
    authenticator:
        class: PAF\Common\Security\Authenticator
        arguments:
            powerUsers: %powerUsers%
    authorizator: PAF\Common\Security\Authorizator

    - PAF\Common\Forms\FormFactory

    - PAF\Modules\CommonModule\Components\SignInForm\SignInFormFactory
    - PAF\Modules\CommissionModule\Components\QuoteForm\QuoteFormFactory

    - PAF\Modules\CommissionModule\Components\PafCaseForm\PafCaseFormFactory

    common.userRepository:
        class: PAF\Modules\CommonModule\Repository\UserRepository
        arguments:
            index: 'username'

    common.contactRepository: PAF\Modules\CommonModule\Repository\ContactRepository

    - PAF\Modules\CommissionModule\Facade\PafEntities
    - PAF\Modules\CommissionModule\Repository\QuoteRepository
    - PAF\Modules\CommissionModule\Repository\PafCaseRepository
    - PAF\Modules\PortfolioModule\Repository\FursuitRepository

    - PAF\Modules\CmsModule\Facade\CmsPages

    - SeStep\FileAttachable\Files
    - SeStep\FileAttachable\Service\UserFileRepository
    - SeStep\FileAttachable\Service\UserFileThreadRepository

    - SeStep\Commentable\Control\CommentsControlFactory

    # todo: replace with persisted options
    generalSettings:
        factory: SeStep\GeneralSettings\Settings(SeStep\LeanSettings\LeanOptions())

    -
        class: PAF\Common\Storage\PafImageStorage
        arguments:
            fileStorage: PAF\Common\Storage\FileStorage(%wwwDir%/images)

    nette.latteFactory:
        setup:
            - addFilter(yesno, @yesNoFilter)
            - addFilter(contactUrl, @contactUrlFilter)

    yesNoFilter: PAF\Common\Latte\YesNoFilter
    contactUrlFilter:
        class: PAF\Common\Latte\ContactUrlFilter
        arguments:
            formats:
                telegram: 'https://t.me/%s'

    leanFixtures.entityFixtures:
        setup:
            - addFixtureDao(PAF\Modules\CommonModule\Fixtures\UserFixtureDao())
            - addFixtureDao(PAF\Common\Fixtures\RepositoryFixtureDao(@common.contactRepository))
