services:
	router: App\RouterFactory::createRouter
	authenticator: App\Model\Auth\Authenticator
	authorisator: App\Model\Auth\Authorisator

	options: SeStep\SettingsDoctrine\DoctrineOptions
	settings: SeStep\SettingsInterface\Settings

	- SeStep\Navigation\Control\INavigationMenuFactory

	- SeStep\SettingsControl\ISettingsControlFactory

	- App\Forms\FormFactory
	- App\Forms\ISignInFormFactory
	- App\Forms\IQuoteFormFactory

	- App\Services\Doctrine\Users(App\Model\Entity\User)
	- App\Services\Doctrine\Quotes(App\Model\Entity\Quote)

