<div class="card-header">Basic deal</div>
<div class="card-body">
    <div class="jumbotron">Image</div>
    <p>Includes:</p>
    <ul class="list-group">
        <li class="list-group-item">Head</li>
        <li class="list-group-item">Front paw * 2</li>
        <li class="list-group-item">Hind paw * 2</li>
        <li class="list-group-item">Tail</li>
    </ul>
</div>
<div class="card-footer text-right">$420</div>
