<div class="panel-heading">Extra features</div>
<div class="panel-body">
    <div class="jumbotron">Image</div>
    <p>One or more of these:</p>
    <ul class="list-group">
        <li class="list-group-item">Many teeth (big teethy)</li>
    </ul>
</div>
