submit: "Submit"
save: Save
update: Update
return: "Return"

sign-in: "Sign in"
sign-out: "Sign out"
sign-in-action: "Sign in"

sign:
    invalidLoginAttempt: 'Invalid name or password'

password: "Password"
login: "Login"
remember-me: "Forget me not"

createdAt: 'Created at'

actions: 'Actions'
edit: 'Edit'

form-validator:
    csrf: 'Your session has expired. Please return to the home page and try again.'
    equal: 'Please enter %s.'
    not-equal: 'This value should not be %s.'
    filled: 'This field is required.'
    blank: 'This field should be blank.'
    min-length: 'Please enter at least %d characters.'
    max-length: 'Please enter no more than %d characters.'
    length: 'Please enter a value between %d and %d characters long.'
    email: 'Please enter a valid email address.'
    url: 'Please enter a valid URL.'
    integer: 'Please enter a valid integer.'
    float: 'Please enter a valid number.'
    min: 'Please enter a value greater than or equal to %d.'
    max: 'Please enter a value less than or equal to %d.'
    range: 'Please enter a value between %d and %d.'
    max-file-size: 'The size of the uploaded file can be up to %d bytes.'
    max-post-size: 'The uploaded data exceeds the limit of %d bytes.'
    mime-type: 'The uploaded file is not in the expected format.'
    image: 'The uploaded file must be image in format JPEG, GIF or PNG.'
    select-valid: 'Please select a valid option.'
    upload-valid: 'An error occurred during file upload.'
    invalid-date-format: Date format is not valid

static:
    tos: "Terms of service"
