views:
    home: "Home"
    quotes: "Quotes"
    manage: "Manage"
    settings: "Settings"
    cases: "Cases"

quote-form:
    group-contact: "Contact information"
    name: "Your name"
    name-min-length: "Name must be at least %d characters long"

    group-fursuit: "Fursuit information"
    fursuit-name: "Name of fursuit"
    fursuit-type: "Type of fursuit"
    long-sleeves: "Long sleeves"
    character-description: "Character description"
    character-description-help: "Write the most important points in design"

    group-additional-info: "Additional information"
    teeth-amount: "Amount of teeth"
    references: "References"

    group-finish: "Finalize quote"

quote:
    references: "%count% references"

contact:
    name: "Name"
    email: "Email"
    telegram: "Telegram"

fursuit:
    type: "Fursuit type"
    types:
        partial: "Partial"
        halfsuit: "Half-suit"
        fullsuit: "Fullboddy fursuit"
