views:
    home: "Home"
    dashboard: "Dashboard"
    quotes: "Quotes"
    manage: "Manage"
    settings: "Settings"
    cases: "Cases"

entity:
    quote: 'Quote'
    case: 'Case'
    fursuit: 'Fursuit'
    contact: 'Contact'

    alerady-exists: "Name %name% already belongs to a %progress%"


contact:
    name: "Name"
    email: "Email"
    telegram: "Telegram"
    phone: 'Phone'

fursuit:
    name: "Fursuit name"
    type: "Fursuit type"
    description: "Description"
    types:
        partial: "Partial"
        halfsuit: "Half-suit"
        fullsuit: "Fullboddy fursuit"

workflow:
    actionPrompt: Do...
    actionExecute: Execute
