views:
    home: "Home"
    dashboard: "Dashboard"
    quotes: "Quotes"
    createQuote: "Create quote"
    manage: "Manage"
    settings: "Settings"
    commissions: "Commissions"

    offer: Offered Goods and Services
    offerShort: Offered G/S
    newOffer: New offer

entity:
    fursuit: 'Fursuit'
    contact: 'Contact'

    alerady-exists: "Name %name% already belongs to a %progress%"


contact:
    name: "Name"
    email: "Email"
    telegram: "Telegram"
    phone: 'Phone'

fursuit:
    name: "Fursuit name"
    type: "Fursuit type"
    description: "Description"

workflow:
    actionPrompt: Do...
    actionExecute: Execute
