<!-- Navigation -->
<nav class="navbar navbar-light bg-light navbar-expand-md fixed-top" role="navigation">
    <a href="{plink $brandTarget}" class="navbar-brand">{$title}</a>
    <div class="navbar-header">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#{$control->name}-collapse">
            <span class="sr-only">Toggle navigation</span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="{$control->name}-collapse">
        <ul class="navbar-nav mr-auto">
            {foreach $items as $itemName => $item}
                {control $itemName}
            {/foreach}
        </ul>

        <ul class="nav navbar-nav pull-right">
            {control signLink}
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
