{switch $type}
	{case 'select'}
	<a data-pk="{$option->domain}" class="editable" data-type="select"
	   data-value="{include #value, value => $option->value}" data-source="{link values! $option->domain}">{$readableValue}</a>
	{default}
	<a data-pk="{$option->domain}" class="editable" data-type="text">{$readableValue}</a>
{/switch}

{define #value, $value}
	{if is_bool($value)}{$value?1:0}{else}{$value}{/if}
{/define}
