{block content}

{control page}

{define #title}{_'db.cms.'.$page->slug}{/define}

{/block}

{block scripts}
{include #parent}
<script n:if="!$pageExists">
    $(function() {
        $('.editable-init').click();
    });
</script>
{/block}
