entity.commission: Commission

quotes.title: "Quotes"
quotes.currently-closed: "are currently closed"
quotes.currently-closed-text: "If you wanted to apply for a commission, you are at correct place. <br/> Alas I'm currently not accepting any new quotes."

quotes.enabled: "Quotes are currently enabled"
quotes.enable: "Enable quotes"
quotes.disabled: "Quotes are currently disabled"
quotes.disable: "Disable"
quotes.allResolved: "All quotes are resolved"

quote.issuer: Issuer
quote.references: "%count% references"
quote.created: "Your quote has been received"

quote.rejected: "Quote '%name%' was rejected"
quote.accepted: "Quote '%name%' was accepted"

quote-form:
    group-contact: "Contact information"
    error-no-contact: "Please fill at least one form of contact"

    group-fursuit: "Fursuit information"
    fursuit-name: "Name of fursuit"
    fursuit-type: "Type of fursuit"
    long-sleeves: "Long sleeves"
    character-description: "Character description"
    character-description-help: "Write the most important points in design"

    group-additional-info: "Additional information"
    teeth-amount: "Amount of teeth"
    references: "References"

    group-finish: "Finalize quote"

unresolvedQuotes: "Unresolved quotes"

quote.noReferences: There are no references

priceList:
    title: 'MY SHIT FOR YOUS'
    intro: 'HI! BUY MY STUFF!'
    products: 'Products'
    extras: 'Extras'

productType:
    partial: 'Partial suit'
    halfSuit: 'Half suit'
    fullSuit: 'Fullbody fursuit'

customer: Customer
commission.specification: Fursuit Specification

commission:
    notes: Notes
    details: Commission details
    created: "Commission %name% has been created"
    already-exists: "Commission %name% already exists"
    create-error: "Commission could not be created"
    updated: Commission %name% has been updated
    acceptedOn: Accepted on
    targetDelivery: Target delivery date

    archivedOn: Archived on %archivedOn%

    status: Status
    status.accepted: Accepted
    status.wip: In progress
    status.finished: Finished
    status.cancelled: Cancelled
    status.shipped: Shipped

    status.archived: Archived
    status.unarchived: Unarchived

    action.archive: Archive
    action.unarchive: Unarchive

commissionWorkflow:
    action.commence: Commence
    action.finish: Finish
    action.ship: Ship
    action.cancel: Cancel

    action.commence.executed: %actor% commenced work on the commission.
    action.finish.executed: %actor% finished this commission.
    action.ship.executed: %actor% shipped the work.
    action.cancel.executed: %actor% cancelled the commission.
    action.archive.executed: %actor% archived the commission

log:
    commissionCreated: %actor% created the commission
    commissionUpdated: %actor% updated the commission
    commissionArchived.executed: %actor% archived the commission
    commissionUnarchived.executed: %actor% un-archived the commission

views:
    commissionDetail: "Detail of commission %name%"

commissions:
    label: "Running commissions"
    detail: "Commission"
    notes: "Notes"

    archivedFilter: "Archived"
