entity.case: Case

quotes.title: "Quotes"
quotes.currently-closed: "are currently closed"
quotes.currently-closed-text: "If you wanted to apply for a commission, you are at correct place. <br/> Alas I'm currently not accepting any new quotes."

quotes.enabled: "Quotes are currently enabled"
quotes.enable: "Enable quotes"
quotes.disabled: "Quotes are currently disabled"
quotes.disable: "Disable"

quote.issuer: Issuer
quote.references: "%count% references"
quote.created: "Quote created"

quote.rejected: "Quote '%name%' was rejected"
quote.accepted: "Quote '%name%' was accepted"

quote-form:
    group-contact: "Contact information"
    error-no-contact: "Please fill at least one form of contact"

    group-fursuit: "Fursuit information"
    fursuit-name: "Name of fursuit"
    fursuit-type: "Type of fursuit"
    long-sleeves: "Long sleeves"
    character-description: "Character description"
    character-description-help: "Write the most important points in design"

    group-additional-info: "Additional information"
    teeth-amount: "Amount of teeth"
    references: "References"

    group-finish: "Finalize quote"

quote.noReferences: There are no references


case.customer: Customer
case.fursuitSpecification: FursuitSpecification

case:
    notes: Notes
    details: Case details
    created: "Case %name% has been created"
    already-exists: "Case %name% already exists"
    create-error: "Case could not be created"
    updated: Case %name% has been updated
    acceptedOn: Accepted on
    targetDelivery: Target delivery date

    status: Status
    status.accepted: Accepted
    status.wip: In progress
    status.finished: Finished
    status.cancelled: Cancelled
    status.shipped: Shipped
    status.archived: Archived

    action.commence: Commence
    action.finish: Finish
    action.ship: Ship
    action.cancel: Cancel
    action.archive: Archive

    action.commence.executed: %actor% commenced work on the case.
    action.finish.executed: %actor% finished this case.
    action.ship.executed: %actor% shipped the work.
    action.cancel.executed: %actor% cancelled the case.
    action.archive.executed: %actor% archived the case

log:
    caseCreated: %actor% created the case
    caseUpdated: %actor% updated the case

cases:
    label: "Running cases"
    detailTitle: "Detail of case %name%"
    detail: "Case"
    notes: "Notes"
