quotes:
    title: "Quotes"
    currently-closed: "are currently closed"
    currently-closed-text: "If you want to apply for a commission, you are at correct place, alas I'm currently now accepting any new quotes."

static:
    tos: "Terms of service"
