{block content}

{control option-paf-quotes-enable:pair}
<h1>{_'title'}{if !$enableQuotes} {_'currently-closed'}{/if}</h1>
{if !$enableQuotes}
    <div class="text-info">{_'currently-closed-text'}</div>
    <br/>
    <div class="text-center">
        <a n:href=":Common:Homepage:" class="btn btn-lg btn-default">{_'generic.return-home'}</a>
    </div>
{else}
    {control quoteForm}
{/if}
