@import "offers";

.quote-overview {
  .references {
    height: 80px;
    overflow-y: scroll;
  }

  .references a {
    text-decoration: none;
  }

  .references img {
    max-height: 60px;
    max-width: 60px;
  }
}

