@import "offers";
@import "commissions";

.quote-overview {
  .references {
    .photo-box {
      height: 160px;
      overflow-y: scroll;

      img {
        max-inline-size: 10em;
        max-block-size: 10em;
      }
    }

  }
}

