<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{plink $brand_code}" class="navbar-brand">{$title}</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                {foreach $items as $item}
                    {switch $item->getRole()}
                        {case 'link'}
                        {var $link = $control->link($item->getTarget(), $item->getParameters())}
                        <li n:class="$control->linkCurrent ? active">
                            <a href="{$link}">{_$item->getCaption()}</a>
                            {include #label, $item->getLabel()}
                        </li>
                        {case 'dropdown'}
                        {include #dropdown, $item}
                    {/switch}
                {/foreach}
            </ul>

            <ul class="nav navbar-nav pull-right">
                <li>
                    {if $user->isLoggedIn()}
                        <a href="{plink ':Front:Sign:out'}">
                            <i class="glyphicon glyphicon-log-out"></i>
                            <span>{_'generic.sign-out'}</span>
                        </a>
                    {else}
                        <a href="{plink ':Front:Sign:in'}">
                            <i class="glyphicon glyphicon-log-in"></i>
                            <span>{_'generic.sign-in'}</span>
                        </a>

                    {/if}
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


{define #dropdown, $parent}
    <li n:class="'dropdown', $control->itemCurrent($parent) ? 'active'">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{_$parent->getCaption()}<span
                    class="caret"></span></a>
        <ul class="dropdown-menu">
            {foreach $parent->getItems() as $item}
                {switch $item->getRole()}
                    {case 'separator'}
                    <li role="separator" class="divider"></li>
                {case 'link'}
                {var $link = $control->link($item->getTarget(), $item->getParameters())}
                    <li n:class="$control->linkCurrent ? 'active'">
                        <a href="{$link}">{_$item->getCaption()}</a>
                        {include #label, label => $item->getLabel()}
                    </li>
                {case 'info'}
                    <li style="margin: 5px 15px">
                        <span>{$subitem->getCaption()}</span>
                        {var $label = $subitem->getLabel()}
                        <span n:if="$label" class="label {$label->getClass()} pull-right">{$label->getText()}</span>
                    </li>
                    {case 'dropdown'}
                    {include #dropdown, parent => $item}
                {/switch}
            {/foreach}
        </ul>
    </li>
{/define}

{define #label, $label}
    <span n:if="$label" class="label label-{$label->level}">{$label->text}</span>
{/define}
