items:
    quoteList:
        target: ':Commission:Quotes:list'
        caption: 'paf.views.quotes'
    commissionList:
        target: ':Commission:Commission:list'
        caption: 'paf.views.commissions'
    offer:
        target: ':Offer:Offer:index'
        caption: 'paf.views.offerShort'
    settings:
        target: ':Settings:Settings:default'
        caption: 'paf.views.settings'
