items:
    quoteList:
        target: ':Commission:Quotes:list'
        caption: 'paf.views.quotes'
    caseList:
        target: ':Commission:Cases:list'
        caption: 'paf.views.cases'
    settings:
        target: ':Settings:Settings:default'
        caption: 'paf.views.settings'
