items:
    priceList:
        target: ':Commission:PriceList:default'
        caption: 'commission.priceList.title'
    quotes:
        target: ':Commission:Quotes:create'
        caption: paf.views.createQuote
        requirements:
             -
                 type: setting
                 value: 'commission.quotes.enable'
    configuration:
        caption: paf.views.dashboard
        requirements:
             -
                 type: permission
                 value: admin-settings
        includeSubItems: ./dashboard.neon

