items:
    priceList:
        target: ':Commission:PriceList:default'
        caption: 'commission.priceList.title'
    quotes:
        target: ':Commission:Quotes:create'
        caption: paf.views.createQuote
        requirements:
             -
                 type: setting
                 value: 'commission.quotes.enable'
    configuration:
        caption: paf.views.manage
        requirements:
             -
                 type: permission
                 value: admin-settings
        subItems:
            settings:
                target: ':Settings:Settings:'
                caption: paf.views.settings
            cases:
                target: :Commission:Cases:list
                caption: paf.views.cases

