<div>
    <h2>{_'commission.case.status'} <small>{_'commission.case.status.'.$currentState}</small></h2>
    <span></span>
    {form actionForm}
    <dl class="row">
        <dt class="col-md-12 form-group">
            {input action, class => 'form-control'}
        </dt>
        <dd class="col-md-12 text-right">
            {input submit, class => 'btn btn-primary'}
        </dd>
    </dl>
    {/form}


</div>
