<div>
    {_'commission.case.state'}
    {form actionForm}
    <dl class="row">
        <dd class="col-md-3">State:</dd>
        <dt class="col-md-9">{_$currentState}</dt>
        <dd class="col-md-3"><label for="case-action">Action:</label></dd>
        <dt class="col-md-9">
            {input action}
            {input submit}
        </dt>
    </dl>
    {/form}


</div>
