{block content}

{control settings:table}

{/block}

{block scripts}
	{include #parent}

	<script>
		initEditable();

		function initEditable(){
			var options = {
				success: function (response, newValue) {
					if(response.status === 'error'){
						return response.message;
					}
				},
				url: {link settings-set!},
				name: 'value',
				mode: 'inline'

			};
			$('a.editable').editable(options);
		}
	</script>
{/block}
