<!-- Navigation -->
<nav class="navbar navbar-light bg-light navbar-expand-md fixed-top" role="navigation">
    <a href="{plink $brandTarget}" class="navbar-brand">{$title}</a>
    <div class="navbar-header">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#{$control->name}-collapse">
            <span class="sr-only">Toggle navigation</span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="{$control->name}-collapse">
        <ul class="navbar-nav mr-auto">
            {foreach $items as $itemName => $item}
                {control $itemName}
            {/foreach}
        </ul>

        <ul class="nav navbar-nav pull-right">
            <li>
                {if $user->isLoggedIn()}
                    <a href="{plink ':Common:Sign:out'}">
                        <i class="fa fa-sign-out"></i>
                        <span>{_'generic.sign-out'}</span>
                    </a>
                {else}
                    <a href="{plink ':Common:Sign:in'}">
                        <i class="fa fa-sign-in"></i>
                        <span>{_'generic.sign-in'}</span>
                    </a>

                {/if}
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
