extensions:
    appRouting: PAF\Common\Router\RoutingExtension

services:
    CommonRouterModule:
        class: PAF\Modules\CommonModule\Api\CommonApiRouterModule
        tags:
            routerModule: Common
    SettingsRouterModule:
        class: PAF\Modules\Settings\Api\SettingsApiRouterModule
        tags:
            routerModule: Settings
