extensions:
    appRouting: PAF\Common\Router\RoutingExtension

services:
    CommonRouterModule:
        class: PAF\Modules\CommonModule\CommonRouterModule
        tags:
            routerModule: Common
    CmsRouterModule:
        class: PAF\Modules\CmsModule\Routing\CmsRouterModule
        tags:
            routerModule: Cms
    CommissionRouterModule:
        class: PAF\Modules\CommissionModule\Routing\CommissionRouterModule
        tags:
            routerModule: Commission
    SettingsRouterModule:
         class: PAF\Modules\Settings\Routing\SettingsRouterModule
         tags:
             routerModule: Settings
