services:
    auditTrailFeed:
        class: PAF\Common\AuditTrail\Components\FeedControl\AuditTrailFeedControlFactory
        arguments:
            templateByType:
                commission.log.caseCreated: %appDir%/Modules/CommissionModule/AuditTrail/caseUpdated-log.latte
                commission.log.caseUpdated: %appDir%/Modules/CommissionModule/AuditTrail/caseUpdated-log.latte
                commission.case.action.*: %appDir%/Modules/CommissionModule/AuditTrail/caseWorkflowExecuted.latte

pafFeed:
    entryControlClasses:
        comment: PAF\Common\Feed\Components\Comment\CommentFeedControl
        logEvent: @auditTrailFeed
