services:
    auditTrailFeed:
        class: SeStep\NetteAuditTrail\Components\FeedControl\AuditTrailFeedControlFactory
        arguments:
            templateByType:
                commission.log.commissionCreated: %appDir%/Modules/CommissionModule/AuditTrail/commissionUpdated.latte
                commission.log.commissionUpdated: %appDir%/Modules/CommissionModule/AuditTrail/commissionUpdated.latte
                commission.log.commissionArchived: %appDir%/Modules/CommissionModule/AuditTrail/commissionWorkflowExecuted.latte
                commission.log.commissionUnarchived: %appDir%/Modules/CommissionModule/AuditTrail/commissionWorkflowExecuted.latte
                commission.commissionWorkflow.action.*: %appDir%/Modules/CommissionModule/AuditTrail/commissionWorkflowExecuted.latte

feed:
    entryControlClasses:
        comment: PAF\Modules\CommonModule\Components\Feed\CommentFeedControl
        logEvent: @auditTrailFeed
