extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

console:
    version: v1.0
    lazy: true

services:
    command.initDatabase:
        class: Data\InitDatabaseCommand
        arguments:
            databaseName: %database.database%
            defaultFiles:
                - %appDir%/Modules/CommonModule/Model/database/initialize.sql
                - %rootDir%/extensions/SeStep/LeanSettings/database/initialize.sql
                - %appDir%/Common/AuditTrail/database/initialize.sql
                - %appDir%/Modules/CommissionModule/Model/database/initialize.sql
                - %appDir%/Modules/PortfolioModule/Model/database/initialize.sql
                - %appDir%/Modules/CmsModule/Model/database/initialize.sql

    command.initDefaultSettings:
        class: Data\InitDefaultSettingsCommand
