extensions:
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

console:
    version: v1.0
    lazy: true

services:
    command.initDatabase:
        class: PAF\Common\Console\InitDatabaseCommand
        arguments:
            databaseName: %database.database%
            defaultFiles:
                - %appDir%/Modules/CommonModule/Model/database/initialize.sql
                - %appDir%/Modules/DirectoryModule/Model/database/initialize.sql
                - %rootDir%/extensions/SeStep/LeanSettings/database/initialize.sql
                - %rootDir%/extensions/SeStep/NetteAuditTrail/database/initialize.sql
                - %appDir%/Modules/CommissionModule/Model/database/initialize.sql
                - %appDir%/Modules/CmsModule/Model/database/initialize.sql
        setup:
            - setName('app:database:init')
        tags:
            console.command: app:database:init

    command.initDefaultSettings:
        class: SeStep\GeneralSettings\Console\InitDefaultSettingsCommand
        arguments:
            defaultSettings: %defaultSettings%
        setup:
            - setName('app:settings:setDefaults')
        tags:
            console.command: app:settings:setDefaults

    command.common.createAuthToken:
        class: PAF\Modules\CommonModule\Console\CreateAuthTokenCommand
        setup:
            - setName('auth:token:create')
        tags:
            console.command: auth:token:create
    command.settings.listTypes:
        class: SeStep\Typeful\Console\ListTypesCommand
        arguments:
            name: typeful:types:list
        tags:
            console.command: typeful:types:list

    command.settings.listEntities:
        class: SeStep\Typeful\Console\ListEntitiesCommand
        arguments:
            name: typeful:entitites:list
        tags:
            console.command: typeful:entitites:list


