entityIds:
    charList: 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
    idLength: 6
    distinctPositions: [2, 3]
    registerCommands: true
    types:
        3: PAF\Modules\CommonModule\Model\User
        17: PAF\Modules\DirectoryModule\Model\Person
        19: PAF\Modules\CommissionModule\Model\Quote
        23: PAF\Modules\CommissionModule\Model\Commission
        25: PAF\Modules\CommissionModule\Model\Product
        53: PAF\Modules\CommonModule\Model\CommentThread
        57: PAF\Modules\CommonModule\Model\Comment
