entityIds:
    charList: 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
    autoWireGeneratorToTrait: true
    idLength: 6
    distinctPositions: [2, 3]
    registerCommands: true
    types:
        17: PAF\Modules\CommonModule\Model\Person
