forms:
    messages:
        EQUAL: 'generic.form-validator.equal'
        NOT_EQUAL: 'generic.form-validator.not-equal'
        FILLED: 'generic.form-validator.filled'
        BLANK: 'generic.form-validator.blank'
        MIN_LENGTH: 'generic.form-validator.min-length'
        MAX_LENGTH: 'generic.form-validator.max-length'
        LENGTH: 'generic.form-validator.length'
        EMAIL: 'generic.form-validator.email'
        URL: 'generic.form-validator.url'
        INTEGER: 'generic.form-validator.integer'
        FLOAT: 'generic.form-validator.float'
        MIN: 'generic.form-validator.min'
        MAX: 'generic.form-validator.max'
        RANGE: 'generic.form-validator.range'
        MAX_FILE_SIZE: 'generic.form-validator.max-file-size'
        MAX_POST_SIZE: 'generic.form-validator.max-post-size'
        MIME_TYPE: 'generic.form-validator.mime-type'
        IMAGE: 'generic.form-validator.image'
        Nette\Forms\Controls\SelectBox::VALID: 'generic.form-validator.select-valid'
        Nette\Forms\Controls\UploadControl::VALID: 'generic.form-validator.upload-valid'
