services:
    authenticator: PAF\Common\Security\Authenticator
    authorizator: PAF\Common\Security\Authorizator
    - PAF\Common\Security\ReflectionAuthorizator
    security.userStorage: PAF\Common\Security\LiveUserStorage(Nette\Http\UserStorage())

    - PAF\Modules\CommonModule\Components\SignInForm\SignInFormFactory

    common.transactionManager: PAF\Common\Model\TransactionManager
    common.userRepository:
        class: PAF\Modules\CommonModule\Repository\UserRepository
        arguments:
            index: 'username'
    common.personRepository: PAF\Modules\CommonModule\Repository\PersonRepository
    common.contactRepository: PAF\Modules\CommonModule\Repository\ContactRepository
    common.slugRepository: PAF\Modules\CommonModule\Repository\SlugRepository

    common.users:
        class: PAF\Modules\CommonModule\Services\Users
        arguments:
            powerUsers: %powerUsers%
    - PAF\Modules\PortfolioModule\Repository\FursuitRepository

    - PAF\Modules\CmsModule\Facade\CmsPages

    - SeStep\FileAttachable\Files
    - SeStep\FileAttachable\Service\UserFileRepository
    - SeStep\FileAttachable\Service\UserFileThreadRepository

    commentable.commentRepository: SeStep\Commentable\Lean\Repository\CommentRepository
    commentable.commentThreadRepository: SeStep\Commentable\Lean\Repository\CommentThreadRepository
    commentable.commentsService: SeStep\Commentable\Service\CommentsService
    commentable.commentsControlFactory: SeStep\Commentable\Control\CommentsControlFactory

    generalSettings:
        factory: SeStep\GeneralSettings\Settings(SeStep\LeanSettings\LeanOptionsAdapter())

    fileStorage.image: PAF\Common\Storage\FileStorage(%wwwDir%/images)

    genericImageStorage:
        class: PAF\Common\Storage\PafImageStorage
        arguments:
            fileStorage: @fileStorage.image

    nette.latteFactory:
        setup:
            - Latte\Runtime\Filters::$dateFormat = 'y/m/d'
            - addFilter(yesno, @yesNoFilter)
            - addFilter(contactUrl, @contactUrlFilter)
            - addFilter(user, @userFilter)
            - addFilter(htmlCLass, @htmlClassFilter)

    yesNoFilter: PAF\Common\Latte\YesNoFilter
    contactUrlFilter:
        class: PAF\Common\Latte\ContactUrlFilter
        arguments:
            formats:
                telegram: 'https://t.me/%s'
    htmlClassFilter: PAF\Common\Latte\HtmlClassFilter
    userFilter: PAF\Modules\CommonModule\Latte\UserFilter

    entityWorkflowListener:
        class: PAF\Common\Workflow\EntityWorkflowListener
        arguments:
            prefixByClass:
