services:
    authenticator: PAF\Common\Security\Authenticator
    authorizator: PAF\Common\Security\Authorizator
    - PAF\Common\Security\ReflectionAuthorizator
    security.userStorage: PAF\Common\Security\LiveUserStorage(Nette\Http\UserStorage())

    - PAF\Modules\CommonModule\Components\SignInForm\SignInFormFactory
    - PAF\Modules\CommissionModule\Components\QuoteForm\QuoteFormFactory

    - PAF\Modules\CommissionModule\Components\PafCaseForm\PafCaseFormFactory

    common.transactionManager: PAF\Common\Model\TransactionManager
    common.userRepository:
        class: PAF\Modules\CommonModule\Repository\UserRepository
        arguments:
            index: 'username'
    common.personRepository: PAF\Modules\CommonModule\Repository\PersonRepository
    common.contactRepository: PAF\Modules\CommonModule\Repository\ContactRepository
    common.slugRepository: PAF\Modules\CommonModule\Repository\SlugRepository

    common.users:
        class: PAF\Modules\CommonModule\Services\Users
        arguments:
            powerUsers: %powerUsers%

    - PAF\Modules\CommissionModule\Facade\PafEntities
    - PAF\Modules\CommissionModule\Facade\Commissions

    - PAF\Modules\CommissionModule\Repository\QuoteRepository
    - PAF\Modules\CommissionModule\Repository\PafCaseRepository
    - PAF\Modules\CommissionModule\Repository\SpecificationRepository
    - PAF\Modules\PortfolioModule\Repository\FursuitRepository

    - PAF\Modules\CmsModule\Facade\CmsPages

    - SeStep\FileAttachable\Files
    - SeStep\FileAttachable\Service\UserFileRepository
    - SeStep\FileAttachable\Service\UserFileThreadRepository

    - SeStep\Commentable\Control\CommentsControlFactory

    generalSettings:
        factory: SeStep\GeneralSettings\Settings(SeStep\LeanSettings\LeanOptionsAdapter())

    fileStorage.image: PAF\Common\Storage\FileStorage(%wwwDir%/images)

    genericImageStorage:
        class: PAF\Common\Storage\PafImageStorage
        arguments:
            fileStorage: @fileStorage.image

    nette.latteFactory:
        setup:
            - Latte\Runtime\Filters::$dateFormat = 'y/m/d'
            - addFilter(yesno, @yesNoFilter)
            - addFilter(contactUrl, @contactUrlFilter)

    yesNoFilter: PAF\Common\Latte\YesNoFilter
    contactUrlFilter:
        class: PAF\Common\Latte\ContactUrlFilter
        arguments:
            formats:
                telegram: 'https://t.me/%s'

    leanFixtures.entityFixtures:
        setup:
            - addFixtureDao(PAF\Modules\CommonModule\Fixtures\UserFixtureDao())
            - addFixtureDao(PAF\Common\Fixtures\RepositoryFixtureDao(@common.personRepository))
            - addFixtureDao(PAF\Common\Fixtures\RepositoryFixtureDao(@common.contactRepository))
