services:
    authenticator: PAF\Common\Security\Authenticator
    authorizator: PAF\Common\Security\Authorizator
    reflectionAuthorizator: PAF\Common\Security\ReflectionAuthorizator
    security.userStorage: PAF\Common\Security\LiveUserStorage(Nette\Http\UserStorage())
    security.jwtService: SeStep\NetteApi\JwtService(%jwtKey%)

    common.transactionManager: PAF\Common\Model\TransactionManager

    paf.navbar:
        class: SeStep\NetteBootstrap\Controls\Menu\Navbar
        arguments:
            brandTitle: @generalSettings::getValue('common.appName')
            brandTarget: :Common:Homepage:default
            items: PAF\Modules\CommonModule\Layout\Navigation\NeonProvider(%appDir%/config/navigation/site.neon)
            signItems: PAF\Modules\CommonModule\Layout\Navigation\SignItemProvider()
        autowired: false

    paf.dashboardNavigation:
        class: SeStep\NetteBootstrap\Controls\Menu\MenuControl
        arguments:
            items: PAF\Modules\CommonModule\Layout\Navigation\NeonProvider(%appDir%/config/navigation/dashboard.neon)

        autowired: false

    - PAF\Modules\CmsModule\Facade\CmsPages

    generalSettings:
        factory: SeStep\GeneralSettings\Settings(SeStep\LeanSettings\LeanOptionsAdapter())

    fileStorage.image: PAF\Common\Storage\FileStorage(%wwwDir%/images)

    genericImageStorage:
        class: PAF\Common\Storage\PafImageStorage
        arguments:
            fileStorage: @fileStorage.image




    nette.latteFactory:
        setup:
            - Latte\Runtime\Filters::$dateFormat = 'y/m/d'
            - addFilter(yesno, @yesNoFilter)
            - addFilter(contactUrl, @contactUrlFilter)
            - addFilter(user, @userFilter)
            - addFilter(htmlCLass, @htmlClassFilter)
            - addFilter(price, @priceFilter)

    yesNoFilter: PAF\Common\Latte\YesNoFilter
    contactUrlFilter:
        class: PAF\Common\Latte\ContactUrlFilter
    htmlClassFilter: PAF\Common\Latte\HtmlClassFilter
    userFilter: PAF\Modules\CommonModule\Latte\UserFilter
    priceFilter: PAF\Common\Latte\PriceFilter('%s €')

    typeful.valueRenderer:
        setup:
            - addRenderer('translate', [@translation.translator, 'translate'])

    netteTypeful.entityFormFactory:
        arguments:
            createCallback: [@appForms.formFactory, 'create']
            defaultFormClass: PAF\Common\Forms\GenericEntityForm

    netteTypeful.entityGridFactory:
        setup:
            - setTranslator

    entityWorkflowListener:
        class: PAF\Common\Workflow\EntityWorkflowListener
