.card-feed {

  &:not(:first-child) {
    margin-block-start: 0.5em;
  }

  .card-header {
    padding: 0.25rem 0.75rem;
  }
  .card-body {
    padding: 0.5rem;
  }

  .feed-stamp {
    font-size: 0.85em;
    margin-inline-end: 0.5em;
  }
}
