<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{plink $brand_code}" class="navbar-brand">{$title}</a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				{foreach $items as $item}
					{switch $item->role}
						{case 'separator'}
						{dump $item}
						{case 'link'}
						{var $link = $presenter->link($item->target, $item->parameters)}
						<li n:class="$presenter->linkCurrent ? active">
							<a href="{$link}">{$item->caption}</a>
							{include #label, label => $item->label}
						</li>
						{case 'dropdown'}
						{include #dropdown, parent => $item}
					{/switch}
				{/foreach}
			</ul>

			<ul class="nav navbar-nav pull-right">
				<li>
					{if $user->isLoggedIn()}
						<a href="{plink 'Sign:out'}">
							<i class="glyphicon glyphicon-log-out"></i>
							<span> bOI</span>
						</a>
					{else}
						<a href="{plink 'Sign:in'}">
							<i class="glyphicon glyphicon-log-in"></i>
							<span> hOI!!</span>
						</a>

					{/if}
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>


{define #dropdown, $parent}
	<li n:class="dropdown, $control->currentDropdown($parent)?active">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">{$parent->caption}<span class="caret"></span></a>
		<ul class="dropdown-menu">
			{foreach $parent->items as $item}
				{switch $item->role}
					{case 'separator'}
					<li role="separator" class="divider"></li>
				{case 'link'}
				{var $link = $control->link($item->target, $item->parameters)}
					<li n:class="$presenter->linkCurrent?active">
						<a href="{$link}">{$item->caption}</a>
						{include #label, label => $item->label}
					</li>
				{case 'info'}
					<li style="margin: 5px 15px">
						<span>{$subitem->caption}</span>
						{var $label = $subitem->label}
						<span n:if="$label"
								class="label {$label->class} pull-right">{$label->text}</span>
					</li>
					{case 'dropdown'}
					{include #dropdown, parent => $item}
				{/switch}
			{/foreach}
		</ul>
	</li>
{/define}

{define #label, $label}
	<span n:if="$label" class="label label-{$label->level}">{$label->text}</span>
{/define}
