<div class="prop-changes">
<div n:foreach="$changes as $change">
        <b>{$change['prop']}</b>
        <br/>
        {ifset $change['oldValue']}<b>{$change['oldValue']}</b> => {/ifset}<b>{$change['newValue']}</b>
    </div>
</div>
