<footer class="footer fixed-bottom">
    <ul>
        <li><a n:href=":Cms:Page:display 'terms-of-service'">{_'generic.static.tos'}</a></li>
        <li class="text-muted text-center">
            <span>Made with <span style="color: orangered">&heartsuit;</span> by </span>
            <a href="https://github.com/Thoronir42">T</a>
        </li>
    </ul>
</footer>
