<footer class="footer navbar-fixed-bottom">
	<div class="container">
		<p class="text-muted text-center">
			<span>Made with <span style="color: orangered">&heartsuit;</span> by </span>
			<a href="https://github.com/Thoronir42">T</a>
		</p>
	</div>
</footer>
