{layout $layout}

{var $entityClass = 'App.Commission.commission'}

<div class="card-header" n:block="#card-header">
    {include #stamp, 'instant' => $logEvent->instant}
    <span>{_$logEvent->type, ['actor' => $actor]}</span>
</div>

<div class="card-body" n:block="#card-body">
    {foreach $parameters['changes'] ?? [] as $property => $change}
        {control $control:propertyDiff, $entityClass, $property, $change['newValue']??null, $change['oldValue']??null}
    {/foreach}
</div>
