<div>
    <div class="">
        <div class="well well-sm" n:foreach="$comments as $comment">
            <span class="pull-right">
                <a n:href="delete!, $comment->getId()" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </a>
            </span>
            <small>{$comment->getCreatedOn()->format('Y.m.d H:i')}</small>
            <p class="content">{$comment->getText()}</p>
        </div>
    </div>
</div>
