<ul class="list-group">
    <li n:foreach="$cases as $case" class="list-group-item">
        <span>{$case->specification->characterName}</span>
        <a href="{plink detail $case->id}" class="btn btn-xs btn-info">
            <i class="fa fa-wrench"></i>
        </a>
    </li>
</ul>
