{block content}
<div class="row sign-in">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header" n:inner-block="title">{_'generic.sign-in-action'}</div>
            <div class="card-body">
                {control signInForm}
            </div>
        </div>
    </div>
</div>
