body {
    font-size: 15px;
    line-height: 1.6;
    margin-top: 60px;
    margin-bottom: 40px;
}

#headder {
    font-size: 4em;
    font-family: Impact;
    margin: 12px 0 20px;
}

.navbar, .navbar .dropdown-menu {
    background-color: darkgray;
}

.nav li, .navbar-brand {
    color: black;
    font-size: 1.2em;
    font-weight: 400;
}

.navbar-brand {
    font-weight: 900;
}

.nav a, .navbar-brand {
    color: cornsilk !important;
}

.dropdown-menu a:hover {
    background-color: cornsilk !important;
    color: mediumpurple !important;
}

.nav li.active > a,
.nav .open li.active > a,
.nav .open > a.dropdown-toggle {
    color: cornsilk !important;
    background-color: mediumpurple !important;
}

.nav .divider {
    background-color: black;
}

#bodyContent {
    /*margin-bottom: 20px;*/
}

h1 {
    color: #3484D2;
}


textarea {
    resize: vertical;
}

.bs-form .form-group {
    margin-bottom: 5px;
}

.footer {
    position: fixed;
    bottom: 0;

    margin: 0 8px 0;
    padding: 8px 0 2px;

    /* Set the fixed height of the footer here */
    background-color: rgba(240, 240, 240, 0.8);

    border: 1px #222 solid;
    border-bottom-width: 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    list-style: none;
    display: inline-block;
}
.footer ul li::after {
    content: ' ';
    display: inline-block;
    width: 6px;
}
.footer ul li:last-child::after {
    content: none;
}

#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 13px;
    background: white url('../images/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    z-index: 123456;
    display: none;
}

div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 1em;
    margin: 1em 0;
}

a[href^="#error:"] {
    background: red;
    color: white;
}

form th, form td {
    vertical-align: top;
    font-weight: normal;
}

form th {
    text-align: right;
}

form .required label {
    font-weight: bold;
}

form .error {
    color: #D00;
    font-weight: bold;
}

.img-thumbnail a {
    visibility: hidden;
}

.img-thumbnail:hover a {
    visibility: visible;
}

.tag.label .btn-label {
    position: absolute;
    font-size: x-small;
    top: 2px;
    right: 2px;
}
