services:
    # Typeful
    commissionDescriptor:
            class: PAF\Modules\CommissionModule\Model\Typeful\CommissionDescriptor
            autowired: false
            tags:
                typeful.entity: PAF\Modules\CommissionModule\Model\Commission
    commissionStatusType:
        class: PAF\Modules\CommissionModule\Model\Typeful\CommissionStatusType
        autowired: false
        tags:
            - typeful.propertyType

    # Repositories
    specificationRepository: PAF\Modules\CommissionModule\Repository\SpecificationRepository
    quoteRepository: PAF\Modules\CommissionModule\Repository\QuoteRepository
    commissionRepository:
            class: PAF\Modules\CommissionModule\Repository\CommissionRepository
            setup:
                - registerEvents(PAF\Modules\CommissionModule\AuditTrail\CommissionAuditTrailAdapter())

    commissionWorkflow: PAF\Modules\CommissionModule\Model\CommissionWorkflow
    productRepository: PAF\Modules\CommissionModule\Repository\ProductRepository

    # Services
    quoteService: PAF\Modules\CommissionModule\Facade\QuoteService
    productService: PAF\Modules\CommissionModule\Facade\ProductService
    commissionService: PAF\Modules\CommissionModule\Facade\CommissionService

    priceList: PAF\Modules\CommissionModule\Facade\PriceListService

    commissions: PAF\Modules\CommissionModule\Facade\Commissions

    # Components
    commissionsGridFactory: PAF\Modules\CommissionModule\Components\CommissionsGrid\CommissionsGridFactory

    quoteFormFactory: PAF\Modules\CommissionModule\Components\QuoteForm\QuoteFormFactory
    commissionFormFactory: PAF\Modules\CommissionModule\Components\CommissionForm\CommissionFormFactory
    commissionStatusControlFactory: PAF\Modules\CommissionModule\Components\CommissionStatus\CommissionStatusControlFactory
